*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.hero{
	width: 100%;
	height: 100vh;
	background-image: url(images/background.png);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}